<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Contributors <sup>Manager</sup></div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Resource
    </div>
    <!-- Nav Item - Tour Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-bus"></i>
            <span>Tour</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/Contributors/Tour/List">List Tour</a>
                <a class="collapse-item" href="/Contributors/Tour/Create">Create Tour</a>

            </div>
        </div>
    </li>
    <!-- Nav Item - Country Collapse Menu -->
    <!--<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCountry" aria-expanded="true" aria-controls="collapseCountry">
            <i class="fas fa-fw fa-globe"></i>
            <span>Country</span>
        </a>
        <div id="collapseCountry" class="collapse" aria-labelledby="headingCountry" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/Admin/Countries">List Country</a>
                <a class="collapse-item" href="/Admin/Countries/Create">Create Country</a>
            </div>
        </div>
    </li>-->
    <!-- Nav Item - Region Collapse Menu -->
    <!--<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegion" aria-expanded="true" aria-controls="collapseRegion">
            <i class="fas fa-fw fa-map-marker"></i>
            <span>Region</span>
        </a>
        <div id="collapseRegion" class="collapse" aria-labelledby="headingRegion" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/Admin/Regions">List Region</a>
                <a class="collapse-item" href="/Admin/Regions/Create">Create Region</a>
            </div>
        </div>
    </li>-->
    <!-- Divider -->
    <!--<hr class="sidebar-divider">-->
    <!-- Heading -->
    <!--<div class="sidebar-heading">
        Booking
    </div>-->
    <!-- Nav Item - User Collapse Menu -->
    @*<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-fw fa-user"></i>
            <span>User</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/Admin/Users">List User</a>
            </div>
        </div>
    </li>*@
     @*Nav Item - Booking Collapse Menu*@ 
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBooking" aria-expanded="true" aria-controls="collapseBooking">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Booking</span>
        </a>
        <div id="collapseBooking" class="collapse" aria-labelledby="headingBooking" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/Contributors/Booking/List">List Booking</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Feedback Collapse Menu -->
    <!--<li class="nav-item">
        <a class="nav-link collapsednav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFeedback" aria-expanded="true" aria-controls="collapseFeedback">
            <i class="fas fa-fw fa-comments"></i>
            <span>Feedback</span>
        </a>
        <div id="collapseFeedback" class="collapse" aria-labelledby="headingFeedback" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function:</h6>
                <a class="collapse-item" href="/Admin/Feedbacks">List Feedback</a>
            </div>
        </div>
    </li>-->
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->