<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Lỏ tourist</title>
    <link rel="stylesheet" href="~/CSS/ThanhNavigation.css" />
    <link rel="stylesheet" href="~/CSS/Slideshow.css" />
    <link rel="stylesheet" href="~/CSS/NoidungvaFooter.css" />
</head>
<body>
    <!--Thanh navigation-->
    <header>
        <div class="top-bar">
            <div class="contact-info">
                <p>info@tourist.net</p>
                <p>Hotline: 0903740866</p>
            </div>
            <div class="login-register">
                @*<button>
                    <u>
                        <a href="~/TrangChu/DangKy" style="color: white; text-decoration: none;">Đăng Ký</a>
                        </u>
                    </button>
                    <button>
                        <u>
                            <a href="~/TrangChu/DangNhap" style="color: white; text-decoration: none;">Đăng nhập</a>
                        </u>
                    </button>*@
            </div>
        </div>
    </header>
    <!--Noi dung-->
    <main>
        @RenderBody()

    </main>
    @*<footer>
            <p>&copy; 2023 Tourist Website. All rights reserved.</p>
        </footer>*@

</body>
</html>
